/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --decor-text-color: #FF0070;
  --button-color: #FF0070;
  --accent-color:  #FF0070;
  --header-color: var(--accent-color);
  --header-accent-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --bg-color: #00183f;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
  --decor-text-color: #FF0070;
  --accent-color:  #FF0070;
  --header-color: var(--accent-color);
  --header-accent-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --bg-color: #00183f;
  }
}