/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --decor-text-color: #ffe2e000;
  --button-color: #353430;
  --hover-btn-color: rgba(53, 52, 48, 0.4);
  --accent-color:  #FF8DCB;
  --header-color: var(--text-color);
  --text-color: #353430;
  --main-title-color: #FFC2E6;
  --header-accent-color: #353430;
  --bg-color: #ffe2e0;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --decor-text-color: #ffe2e000;
    --button-color: #353430;
    --hover-btn-color: rgba(53, 52, 48, 0.4);
    --accent-color:  #FF8DCB;
    --header-color: var(--text-color);
    --text-color: #353430;
    --main-title-color: #FFC2E6;
    --header-accent-color: #353430;
    --bg-color: #ffe2e0;
  }
}

 
